body {
    background-color: #111319;
}

/** Global header layout */

body > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 48px;
    height: 64px;
    white-space: nowrap;
    gap: 24px;
    font-family: Inter, sans-serif;
    background-color: #0C0E14D9;
}

body > header > div {
    gap: 24px;
    display: flex;
    align-items: center;
}

body > header div.right_container {
    gap: 16px;
}

body > header a {
    text-decoration: none;
    color: inherit;
}

/** Logo container */

body > header .main_logo_container {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: "Space Grotesk", sans-serif;
}

body > header .main_logo_container::after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background-color: #D0BCFF;
    border-radius: 50%;
    box-shadow: 0 0 8px 0 #D0BCFF;

}

body > header .main_logo_container .logo {
    height: 32px;
}

body > header .main_logo_container .logo img {
    height: 100%;
}

body > header .main_logo_container h2 {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.9px;
    color: #E2E2EB;
}

/** Navigation menu */

body > header nav {
    display: flex;
    align-items: baseline;
    gap: 24px;
}

body > header nav a {
    color: #CBC3D7;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 4px;
}

body > header nav a.selected {
    color: #D0BCFF;
    font-weight: 600;
}

body > header nav a .inline_level_indicator {
    background-color: #33343B;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.25px;
    color: #FFB95F;
    font-family: "JetBrains Mono", sans-serif;
}

body > header nav a .inline_admin_indicator {
    background-color: #6001D1;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #C9AEFF;
    font-family: "JetBrains Mono", sans-serif;
}

/** Search bar */

body > header .search_bar {
    display: flex;
    align-items: center;
    background-color: #191B22;
    gap: 4px;
    padding: 4px 16px;
    border-radius: 8px;
}

body > header .search_bar input {
    min-width: 256px;
    background-color: transparent;
    border: none;
    padding: 0;
}

body > header .search_bar .icon {
    height: 13.5px;
}

body > header .search_bar .keyboard_indicator {
    padding: 2px 4px;
    background-color: #1E1F26;
    border-radius: 2px;
    font-weight: 600;
    font-size: 10px;
    color: #958EA0;
    letter-spacing: -0.25px;
    line-height: 12px;
    font-family: "JetBrains Mono", sans-serif;
}

body > header .search_bar input::placeholder {
    font-size: 12px;
    font-weight: 500;
    vertical-align: middle;
    color: #958EA0;
    font-family: "JetBrains Mono", sans-serif;
}

/** Level container */

body > header .level_container {
    display: flex;
    align-items: center;
    padding: 6px 16px;
    background-color: #191B22;
    border-radius: 12px;
    gap: 4px;
    font-size: 12px;
    font-weight: 700;
    font-family: "JetBrains Mono", sans-serif;
}

body > header .level_container .level_indicator {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    /** Radial progress copied from https://nikitahl.com/circle-progress-bar-css */
    background: radial-gradient(closest-side, #191B22 79%, transparent 80% 100%),
    /* ---------------------------------| Place here the percentage of completion*/
    conic-gradient(#33343B calc(100% - 25%), #FFB95F 0);
}

body > header .level_container .level {
    color: #FFB95F;
}

body > header .level_container .dot_separator {
    font-weight: 400;
    font-family: Inter, sans-serif;
    color: #958EA0;
}

body > header .level_container .xp {
    font-size: 10px;
    font-weight: 500;
    color: #CBC3D7;
}

/** Account menu */

body > header .account_menu {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 2px;
}

body > header .account_menu .profile_picture {
    height: 32px;
    border-radius: 12px;
    border: 1px solid #D0BCFF66;
}

body > header .account_menu .caret {
    width: 7px;
}

body > main {
    padding: 24px 48px;
}

/** ---- PAGE PROFILE ---- */

/** -- Section Badge -- */
main section#badges {
    display: flex;
    flex-flow: column;
    gap: 16px;
}

main section#badges .title_container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

main section#badges .title_container > div {
    display: flex;
    flex-flow: column;
    gap: 0;
}

main section#badges .title_container > div p {
    font-family: "JetBrains Mono", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #958EA0;
}

main section#badges .title_container > div p span {
    color: #D0BCFF;
}

main section#badges .title_container .subtitle {
    font-family: "JetBrains Mono", sans-serif;
    font-size: 10px;
    font-weight: 600;
    color: #958EA0;
    display: flex;
    align-items: center;
    gap: 8px;
}

main section#badges .title_container .subtitle::before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 2px;
    background-color: #D0BCFF;
}

main section#badges .title_container h2 {
    font-family: "Space Grotesk", sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #E2E2EB;
}

main section#badges .badges_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

/** Badge */

main section#badges .badges_container .badge {

}

main section#badges .badges_container .badge .content {
    display: flex;
    flex-flow: column;
    gap: 16px;
    border-radius: 8px 8px 0 0;
    padding: 16px 16px 24px 16px;
    position: relative;
    background-color: #191B22;
    overflow: hidden;
}

main section#badges .badges_container .badge.locked .content {
    background-color: #191B2299;
}

main section#badges .badges_container .badge .content::before {
    content: "";
    width: 112px;
    height: 112px;
    display: block;
    position: absolute;
    right: -64px;
    top: -64px;
    filter: blur(40px);
}

main section#badges .badges_container .badge.purple .content::before {
    background-color: #D0BCFF33;
}

main section#badges .badges_container .badge.gold .content::before {
    background-color: #FFB95F33;
}

main section#badges .badges_container .badge .content header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main section#badges .badges_container .badge .content header .icon_container {
    width: 48px;
    height: 48px;
    background-color: #33343B;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main section#badges .badges_container .badge.locked .content header .icon_container {
    background-color: #1E1F26;
}

main section#badges .badges_container .badge.purple .content header .icon_container {
    box-shadow: 0 0 16px 0 #D0BCFF66;
}

main section#badges .badges_container .badge.gold .content header .icon_container {
    box-shadow: 0 0 16px 0 #FFB95F59;
}

main section#badges .badges_container .badge .content header .status {
    font-family: "JetBrains Mono", sans-serif;
    font-weight: 700;
    font-size: 10px;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 2px 8px;
    border-radius: 12px;
}

main section#badges .badges_container .badge.locked .content header .status {
    background-color: #33343B;
    color: #958EA0;
}

main section#badges .badges_container .badge.purple .content header .status {
    background-color: #D0BCFF33;
}

main section#badges .badges_container .badge.gold .content header .status {
    background-color: #FFB95F33;
}

main section#badges .badges_container .badge.purple .content header .status {
    color: #D0BCFF;
}

main section#badges .badges_container .badge.gold .content header .status {
    color: #FFB95F;
}

main section#badges .badges_container .badge .content main {
    display: flex;
    flex-flow: column;
    gap: 4px;
}

main section#badges .badges_container .badge .content main h3 {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #E2E2EB;
}

main section#badges .badges_container .badge .content main p {
    font-family: "Inter", sans-serif;
    line-height: 18px;
    font-size: 12px;
    color: #CBC3D7;
    width: 252px;
}

main section#badges .badges_container .badge.locked .content main h3,
main section#badges .badges_container .badge.locked .content main p {
    color: #958EA0;
}

main section#badges .badges_container .badge footer {
    display: flex;
    background-color: #0C0E1499;
    padding: 4px 8px 8px 8px;
    border-radius: 0 0 16px 16px;
}

main section#badges .badges_container .badge footer > div {
    display: flex;

}

main section#badges .badges_container .badge footer .objective p {
    font-family: "JetBrains Mono", sans-serif;
    font-weight: 600;
    font-size: 10px;
    color: #958EA0;
}

main section#badges .badges_container .badge footer .objective p.colored {
    font-weight: 700;
}

main section#badges .badges_container .badge.purple footer .objective p.colored {
    color: #D0BCFF;
}

main section#badges .badges_container .badge.gold footer .objective p.colored {
    color: #FFB95F;
}

main section#badges .badges_container .badge footer .progress {
    display: flex;
    flex-flow: column;
    gap: 6px;
    width: 100%;
}

main section#badges .badges_container .badge footer .progress .header {
    font-family: "JetBrains Mono", sans-serif;
    font-weight: 600;
    font-size: 10px;
    color: #958EA0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main section#badges .badges_container .badge footer .progress .header p.obj {
    font-weight: 700;
    color: #CBC3D7;
}

main section#badges .badges_container .badge footer .progress .progress_bar {
    height: 4px;
    width: 100%;
    background-color: #1E1F26;
    border-radius: 12px;
}

/*** page admin ***/

.navigation li {
    width: 340px;
    margin-bottom: 10px;

}

.nav li:hover {
    background-color: rgba(255, 255, 255, 0.10);
    cursor: pointer;
}


.navigation {
    position: absolute;
    top: 30px;
    left: 40px;
    display: flex;
    flex-direction: column;
}


.navigation a {
    display: block;
    padding: 15px 20px;

    border-radius: 15px;
    text-decoration: none;
    transition: 0.2s;
}


.navigation a:hover {
    background-color: #2c2c33;
    color: #c5a3ff;
}

.navigation h2 {
    margin: 0;
}

.navigation p {
    margin: 40px 0;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.navigation li {
    margin-bottom: 25px;
}

.navigation a {
    text-decoration: none;
}