/** Global header layout */

body > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 48px;
    height: 64px;
    white-space: nowrap;
    gap: 24px;
    font-family: Inter, sans-serif;
    background-color: #0C0E14D9;
}

body > header > div {
    gap: 24px;
    display: flex;
    align-items: center;
}

body > header div.right_container {
    gap: 16px;
}

body > header a {
    text-decoration: none;
    color: inherit;
}

/** Logo container */

body > header .main_logo_container {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: "Space Grotesk", sans-serif;
}

body > header .main_logo_container::after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background-color: #D0BCFF;
    border-radius: 50%;
    box-shadow: 0 0 8px 0 #D0BCFF;

}

body > header .main_logo_container .logo {
    height: 32px;
}

body > header .main_logo_container .logo img {
    height: 100%;
}

body > header .main_logo_container h2 {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.9px;
    color: #E2E2EB;
}

/** Navigation menu */

body > header nav {
    display: flex;
    align-items: baseline;
    gap: 24px;
}

body > header nav a {
    color: #CBC3D7;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 4px;
}

body > header nav a.selected {
    color: #D0BCFF;
    font-weight: 600;
}

body > header nav a .inline_level_indicator {
    background-color: #33343B;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.25px;
    color: #FFB95F;
    font-family: "JetBrains Mono", sans-serif;
}

body > header nav a .inline_admin_indicator {
    background-color: #6001D1;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #C9AEFF;
    font-family: "JetBrains Mono", sans-serif;
}

/** Search bar */

body > header .search_bar {
    display: flex;
    align-items: center;
    background-color: #191B22;
    gap: 4px;
    padding: 4px 16px;
    border-radius: 8px;
}

body > header .search_bar input {
    min-width: 256px;
    background-color: transparent;
    border: none;
    padding: 0;
}

body > header .search_bar .icon {
    height: 13.5px;
}

body > header .search_bar .keyboard_indicator {
    padding: 2px 4px;
    background-color: #1E1F26;
    border-radius: 2px;
    font-weight: 600;
    font-size: 10px;
    color: #958EA0;
    letter-spacing: -0.25px;
    line-height: 12px;
    font-family: "JetBrains Mono", sans-serif;
}

body > header .search_bar input::placeholder {
    font-size: 12px;
    font-weight: 500;
    vertical-align: middle;
    color: #958EA0;
    font-family: "JetBrains Mono", sans-serif;
}

/** Level container */

body > header .level_container {
    display: flex;
    align-items: center;
    padding: 6px 16px;
    background-color: #191B22;
    border-radius: 12px;
    gap: 4px;
    font-size: 12px;
    font-weight: 700;
    font-family: "JetBrains Mono", sans-serif;
}

body > header .level_container .level_indicator {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    /** Radial progress copied from https://nikitahl.com/circle-progress-bar-css */
    background: radial-gradient(closest-side, #191B22 79%, transparent 80% 100%),
    conic-gradient(#33343B calc(100% - 25%), #FFB95F 0);
    /* ---------------------------------| Place here the percentage of completion*/
}

body > header .level_container .level {
    color: #FFB95F;
}

body > header .level_container .dot_separator {
    font-weight: 400;
    font-family: Inter, sans-serif;
    color: #958EA0;
}

body > header .level_container .xp {
    font-size: 10px;
    font-weight: 500;
    color: #CBC3D7;
}

/** Account menu */

body > header .account_menu {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 2px;
}

body > header .account_menu .profile_picture {
    height: 32px;
    border-radius: 12px;
    border: 1px solid #D0BCFF66;
}

body > header .account_menu .caret {
    width: 7px;
}

@media screen and (max-width: 1170px) {
    body > header .level_container {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    body > header .search_bar {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    body > header nav a .inline_level_indicator,
    body > header nav a .inline_admin_indicator {
        display: none;
    }

    body > header {
        padding: 0 15px;
    }
}

@media screen and (max-width: 530px) {
    body > header nav a:not(.selected) {
        display: none;
    }
}